/* TEMPORARY "Uncorrected Proof" Banner */
@media screen {
  .quire-page::before,
  .quire-page::after {
    color: black;
    font-weight: 700;
    position: fixed;
    width: 230px;
    height: 230px;
    z-index: 4000;
    transform: rotate(-45deg);
    text-align: center;
    padding-top: 1rem;
  }
  .quire-page::before {
    content: "PROTOTYPE";
    background-color: gold;
    bottom: -115px;
    right: -115px;
  }
  /* .quire-page::after {
    content: "PROOF";
    bottom: -130px;
    right: -130px;
  } */
}

/* CUSTOM .additional-resource SECTION STYLES */
.additional-resource {
  background-color: beige;
  padding: 1.5rem;
  border-radius: .5rem; 
  margin-bottom: 1.5rem;
}
.additional-resource img {
  float: left;
  width: 25%;
  margin-right: 1.5rem;
  border: 1px solid rgb(206, 205, 205);
  filter: drop-shadow(3px 3px 3px #777);
}
.additional-resource a {
 border-bottom-width: 0px !important;
}
.additional-resource a svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
.quire-page__content .container .content .additional-resource ul,
.quire-page__content .container .content .additional-resource ul li {
  margin-left: 0;
}
.quire-page__content .container .content .additional-resource ul li ul {
  margin-left: 1.5rem;
}
.quire-page__content .container .content .additional-resource ul li::before {
  content: '' !important;
}
.additional-resource .accordion-section {
  margin-bottom: 0;
}
.additional-resource.with-image .accordion-section {
  padding-top: 1.5rem;
  width: calc(75% - 1.5rem);
  margin-left: calc(25% + 1.5rem);
}
.additional-resource .accordion-section__body {
  margin-top: 1rem;
}